name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build:
    name: continuous-integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
      - name: setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: setup project
        run: uv sync --locked --all-extras --dev
      - name: check formatting
        run: uv run --no-sync ruff format --diff
      - name: lint
        run: uv run --no-sync ruff check --output-format=github
      - name: mypy
        run: uv run --no-sync mypy --junit-xml="mypy-junit.xml"
      - name: test
        run: uv run --no-sync pytest --cov-report="term" --cov-report="xml:coverage.xml" --junitxml="pytest-junit.xml"
      - name: junit report
        uses: mikepenz/action-junit-report@v5
        if: ${{ always() }}
        with:
          report_paths: '*-junit.xml'
