name: pypi

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: verify tag
        run: '[ $(uv version --short) == "${{ github.event.release.tag_name}}" ]'
      - name: build
        run: uv build --no-sources
      - name: smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl tests/smoke_test.py
      - name: smoke test (sdist)
        run: uv run --isolated --no-project --with dist/*.tar.gz tests/smoke_test.py
      - name: publish (fake)
        run: uv publish --dry-run
