name: pypi

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true
      - name: verify tag
        run: '[ "v$(uv version --short)" == "${{ github.event.release.tag_name}}" ]'
      - name: build
        run: uv build --no-sources
      - name: smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl tests/smoke_test.py
      - name: smoke test (sdist)
        run: uv run --isolated --no-project --with dist/*.tar.gz tests/smoke_test.py
      - name: publish (fake)
        run: uv publish --dry-run
